 header{
            background-color: rgb(122, 14, 14);
            color: black;
            text-align: center;
            max-width: 1000px;
            margin: 0 auto;
            padding: 106px;
        }

        main {
    background-color: #ad2e2e;
    color: #000000;
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
}


.artigo-autor {
    font-weight: bold;
}